{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="unit-5 overlay" style="background-image: url('{%static 'images/classroom2.jpg'%}');">
  <div class="container text-center">
    <h2 class="mb-0">Sign Up</h2>
    <p class="mb-0 unit-6"><a href="{%url 'home'%}">Home</a> <span class="sep">></span> <span>Sign Up</span></p>
  </div>
</div>
<!-- {%for message in messages %}
  {%if message.level is DEFAULT_MESSAGE_LEVELS.ERROR%}
  <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
    <div class="col-md-8">
      <div class="accordion unit-8" id="accordion">
      <div class="accordion-item">
        <h3>
          <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">{{message}}<span class="icon"></span></a>
        </h3>
      </div>
      </div>
      </div>
    </div>
  {%endif%}
{%endfor%}  

{%if form.error%}
<div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
  <div class="col-md-8">
    <div class="accordion unit-8" id="accordion">
    <div class="accordion-item">
      <h3>
        <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">Incorrect Details<span class="icon"></span></a>
      </h3>
    </div>
    </div>
    </div>
  </div>
{%endif%} -->

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
       
          <div class="col-md-12 col-lg-8 mb-5">
          
            <form action="" class="p-5 bg-white" method="POST">{%csrf_token%}
              <!-- <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email Address">
                </div>
              </div> -->
              {{form.name}}
              {{form.email}}
              <!-- <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="password1">Password</label>
                  <input type="text" id="password1" class="form-control" placeholder="Password">
                </div>
              </div> -->
              {{form.password}}

              <!-- <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="password1">Confirm Password</label>
                  <input type="text" id="password2" class="form-control" placeholder="Confirm Password">
                </div>
              </div> -->

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="SignUp" class="btn btn-primary pill px-4 py-2">
                </div>
              </div>

  
            </form>
          </div>
          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <div class="img-border">
                  <img src="{%static 'images/classroom2.jpg'%}" alt="Image" class="img-fluid rounded">
              </div>
              </div>
            </div>
        </div>
        </div>
    </div>      

{%endblock%}